{% extends "home/base.html" %}

{% block content %}
<div class="container">
<h1>Danh sach sinh vien</h1>
<hr/>
<a class="btn btn-success" href="{% url 'student:student_add' %}" role="button">Them moi</a>
<hr/>

<div class="row">
    <div class="col">
        <!-- Search Start -->
        <form action="" method="GET">
            {% csrf_token %}
            <input type="text" name="keyword" value="{{keyword}}" placeholder="tu khoa"/>
            <button type="submit" class="btn btn-primary">Tim kiem</button>
        </form>
    </div>
    <div class="col d-flex justify-content-end">
        <!-- Sort Start -->
        <div class="dropdown mx-2">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Sap xep
            </button>
            <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="?sort=first_name{% for k, v in request.GET.items %}{% if k != 'sort' %}&{{ k }}={{ v }}{% endif %}{% endfor %}">Ten</a></li>
            <li><a class="dropdown-item" href="?sort=-mark_math{% for k, v in request.GET.items %}{% if k != 'sort' %}&{{ k }}={{ v }}{% endif %}{% endfor %}">Diem Toan</a></li>
            <li><a class="dropdown-item" href="?sort=-mark_literature{% for k, v in request.GET.items %}{% if k != 'sort' %}&{{ k }}={{ v }}{% endif %}{% endfor %}">Diem Van</a></li>
            <li><a class="dropdown-item" href="?sort=-mark_english{% for k, v in request.GET.items %}{% if k != 'sort' %}&{{ k }}={{ v }}{% endif %}{% endfor %}">Diem Anh</a></li>
            </ul>
        </div>
    </div>
</div>
<hr/>

<div class="row justify-content-center gap-2">
{% for sv in students %}
<div class="col-12 col-md-6 col-lg-3">
    <div class="card">
        <img src="https://placehold.co/150x100" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title"><a href="{% url 'student:student_detail' sv.id %}">{{ sv.last_name }} {{sv.first_name}}</a></h5>
        <p class="card-text">Toan: {{ sv.mark_math }}, Van: {{ sv.mark_literature }}, Anh: {{ sv.mark_english }}</p>
        {% comment %} <a href="#" class="btn btn-primary">Go somewhere</a> {% endcomment %}
        </div>
    </div>
</div>
{% endfor %}
</div>


{% endblock %}
</div>
