{% extends "home/base.html" %}

{% block content %}
<h1>Dang Nhap He Thong</h1>
<hr/>
<div class="row justify-content-center">
<form class="col-5" action="" method="POST">
    {% csrf_token %}
    <div class="row mb-3">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="inputEmail3" name="username" required>
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Mat khau</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword3" name="password" required>
      </div>
    </div>
   
    <button type="submit" class="btn btn-primary">Dang nhap</button>
  </form>
  <p>{{ error }}</p>
</div>
{% endblock %}