{% extends "home/base.html" %}

{% block content %}
<h1>Blog Detail Page</h1>

<h3>Tuyển Việt Nam gọi 34 cầu thủ cho Asian Cup 2023</h3>
<p>Nhiều cầu thủ từng dự Asian Cup 2019 vắng mặt, được thay bằng những cầu thủ mới mà HLV Philippe Troussier tin tưởng thời gian qua.</p>
<p>So với giải đấu tại UAE bốn năm trước, danh sách dự Asian Cup 2023 chỉ còn tám cái tên. Đó là thủ môn Đặng Văn Lâm, ba hậu vệ Đỗ Duy Mạnh, Thành Chung, Quế Ngọc Hải, hai tiền vệ Quang Hải, Đỗ Hùng Dũng và hai tiền đạo Văn Toàn, Tiến Linh.

    15 cái tên vắng gồm thủ môn Bùi Tiến Dũng, Tuấn Mạnh, hậu vệ Đoàn Văn Hậu, Bùi Tiến Dũng, Hồ Tấn Tài, Hồng Duy, tiền vệ Phạm Đức Huy, Lương Xuân Trường, Huy Hùng, Trọng Hoàng, tiền đạo Phan Văn Đức, Công Phượng, Hà Đức Chinh, Ngân Văn Đại. Trong đó, Văn Hậu và Văn Đức chưa hồi phục chấn thương. Số còn lại bị ảnh hưởng bởi tuổi tác, phong độ đi xuống hoặc ít được thi đấu tại CLB chủ quản.</p>
<p>Hiếu Lương</p>
{% endblock content %}