{% extends "home/base.html" %}

{% block content %}
<h1>Danh sach san pham</h1>
<hr/>
<a class="btn btn-success" href="{% url 'product:product_add' %}" role="button">Them moi</a>
<hr/>
<div class="row">
    <div class="col">
        <!-- Search Start -->
        <form action="" method="GET">
            {% csrf_token %}
            <input type="text" name="keyword" value="{{keyword}}" placeholder="tu khoa"/>
            <button type="submit" class="btn btn-primary">Tim kiem</button>
        </form>
    </div>
    <div class="col d-flex justify-content-end">
        <!-- Sort Start -->
        <div class="dropdown mx-2">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Sap xep
            </button>
            <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="?sort=-created_at{% for k, v in request.GET.items %}{% if k != 'sort' %}&{{ k }}={{ v }}{% endif %}{% endfor %}">Moi nhat</a></li>
            <li><a class="dropdown-item" href="?sort=created_at{% for k, v in request.GET.items %}{% if k != 'sort' %}&{{ k }}={{ v }}{% endif %}{% endfor %}">Cu nhat</a></li>
            <li><a class="dropdown-item" href="?sort=price{% for k, v in request.GET.items %}{% if k != 'sort' %}&{{ k }}={{ v }}{% endif %}{% endfor %}">Gia thap nhat</a></li>
            <li><a class="dropdown-item" href="?sort=-price{% for k, v in request.GET.items %}{% if k != 'sort' %}&{{ k }}={{ v }}{% endif %}{% endfor %}">Gia cao nhat</a></li>
            </ul>
        </div>
        <!-- Limit Start -->
        <div class="dropdown mx-2">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            So luong
            </button>
            <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="?limit=2{% for k, v in request.GET.items %}{% if k != 'limit' %}&{{ k }}={{ v }}{% endif %}{% endfor %}">2</a></li>
            <li><a class="dropdown-item" href="?limit=5{% for k, v in request.GET.items %}{% if k != 'limit' %}&{{ k }}={{ v }}{% endif %}{% endfor %}">5</a></li>
            <li><a class="dropdown-item" href="?limit=10{% for k, v in request.GET.items %}{% if k != 'limit' %}&{{ k }}={{ v }}{% endif %}{% endfor %}">10</a></li>
            </ul>
        </div>
    </div>
</div>

<hr/>

{% for item in product_list %}
<h3><a href="{% url 'product:product_detail' item.id %}">{{ item.product_name }}</a></h3>

{% if item.summary %}
<p>summary: {{ item.summary }}</p>
{% endif %}

<p>quantity: {{ item.quantity }}</p>
<p>price: {{ item.price }}</p>

<a data-item-id="{{item.id}}" class="btn btn-success add-to-cart" href="#" role="button">Them vao gio hang</a>
<a class="btn btn-success" href="{% url 'cart:buy_now' item.id %}" role="button">Mua ngay</a>

{% if item.image %}
<p>Image:
<image src="{{ item.image.url }}" alt="{{ item.product_name }}" />
</p>
{% endif %}

<br/>

{% if item.file %}
<p>File:
<a href="{{ item.file.url }}" target="_blank">{{ item.file }}</a>
</p>
{% endif %}

{% comment %} {% if item.url %}
<p>Video:
<iframe width="560" height="315" src="{{ item.url }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</p>
{% endif %} {% endcomment %}

<hr/>
{% endfor %}

<nav aria-label="...">
    <ul class="pagination">

      {% if product_list.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ product_list.previous_page_number }}{% for k, v in request.GET.items %}{% if k != 'page' %}&{{ k }}={{ v }}{% endif %}{% endfor %}">Previous</a>
      </li>
      {% endif %}

      <li class="page-item active" aria-current="page">
        <a class="page-link" href="#">{{ product_list.number }} / {{ product_list.paginator.num_pages }}</a>
      </li>

      {% if product_list.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ product_list.next_page_number }}{% for k, v in request.GET.items %}{% if k != 'page' %}&{{ k }}={{ v }}{% endif %}{% endfor %}">Next</a>
      </li>
      {% endif %}

    </ul>
  </nav>

{% endblock %}